body {margin:0;padding:0;}
.toggle-holder{display:flex;justify-content: center;}
.toggle {
  background-color: #097969;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.toggle-active {
  background-color: #C50C26;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
input#example {
  display: none;
}
.slider {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 6px;
  margin: 2px;
}
input:checked + .toggle {
  background-color: #C50C26;
}
input:checked + .toggle > .slider {
  align-self: flex-end;
}

@font-face {
    font-family: "overpass-regular";
    src: url("overpass/overpass-regular.otf");
}

@font-face {
    font-family: "overpass-italic";
    src: url("overpass/overpass-italic.otf");
}

@font-face {
    font-family: "overpass-bold";
    src: url("overpass/overpass-bold.otf");
}

@font-face {
    font-family: "overpass-extrabold-italic";
    src: url("overpass/overpass-extrabold-italic.otf");
}

@font-face {
    font-family: "overpass-extrabold";
    src: url("overpass/overpass-extrabold.otf");
}

@font-face {
    font-family: "overpass-extralight";
    src: url("overpass/overpass-extralight.otf");
}


.overpass-bold {
    font-family: overpass-bold, sans-serif;
}

.overpass-regular {
    font-family: overpass-regular, sans-serif;
}

.overpass-italic {
    font-family: overpass-italic, sans-serif;
}

.overpass-extrabold-italic {
    font-family: overpass-extrabold-italic, sans-serif;
}

.overpass-extrabold {
    font-family: overpass-extrabold, sans-serif;
}

.overpass-extralight {
    font-family: overpass-extralight, sans-serif;
}

.article-body {
    width:100%;
    font-family: overpass-regular, sans-serif;
}

fieldset {width:auto;margin:0 auto;text-align: center;position:sticky;top: 0;height:32px;z-index: 10;background-color:white;}

.logo-holder {
    flex:1;
    aspect-ratio:1 / 1;
    min-width:0;
    max-width:50px;
    align-content: center;
    padding:0 0 0 5px;
}

.logo-holder img {vertical-align: middle;}

.rank {text-align:right;border-bottom:unset !important;padding-right:10px;}

.team-name {
    flex:1;
    aspect-ratio:3 / 1;
    min-width:0;
    font-size:14pt;
    padding: 0;
    text-align: center;
    align-content: center;
}

.name-inner {
    width: 97%;
    padding: 0 3px;
    display: block;
}

.inning, .center-of-gravity {text-align:center;padding: 0;}

td.inning {min-width:28px;font-size:9pt;}

#heatmap-table {border-spacing:0}

#heatmap-table td, #heatmap-table th {
  border-bottom: 2px solid black;
  position:relative;
}

#heatmap-table th {padding:3px;position:sticky;top: 51.6px;z-index: 10;background-color:white;}

#heatmap-table td:nth-child(3), #heatmap-table th:nth-child(3) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#heatmap-table th:nth-child(2), #heatmap-table td:nth-child(13), #heatmap-table th:nth-child(13), #heatmap-table td:nth-child(17), #heatmap-table th:nth-child(17) {
  border-left: 2px solid black;
}


.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width:10px;
    height:15px;
    z-index:5;
}

